#slider {
    overflow: hidden;
    width: 50vw;
    position: relative;

}

#slider img {

    width: 100%;
}

#imgA {
    position: absolute;
    top: 0;
    left: 0;

}

#coverSlider {}

.transSlider {
    transition: all .5s;

}


.sliderRight {

    transform: translateX(100%);
}